<div class="card bg-primary">
    <div class="card-body text-center">
        <h4 class="card-title">Information</h4>
        <div class="row">
            <div class="col-md-5">
                <span>Vehicle Number</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>KA 05 HA 893</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <span>Vehicle RFID details</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>U4643565458998</span>
            </div>
        </div>

        <div class="row">
                <div class="col-md-5">
                    <span>Vehicle RFID details</span>
                </div>
                <div class="col-md-1">
                    <span>:</span>
                </div>
                <div class="col-md-6">
                    <span>U4643565458998</span>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-5">
                        <span>Vehicle RFID details</span>
                    </div>
                    <div class="col-md-1">
                        <span>:</span>
                    </div>
                    <div class="col-md-6">
                        <span>U4643565458998</span>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-5">
                            <span>Vehicle RFID details</span>
                        </div>
                        <div class="col-md-1">
                            <span>:</span>
                        </div>
                        <div class="col-md-6">
                            <span>U4643565458998</span>
                        </div>
                    </div>

        <div class="row">
            <div class="col-md-5">
                <span>Driver Name</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>Kadam Singh</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <span>Starting place</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>Kolkata port</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <span>Destination place</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>Chennai Central</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <span>Humidity Sensors</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>6</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <span>Temparature Sensors</span>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <span>2</span>
            </div>
        </div>
    </div>
</div>